// ***********************************
// VARIABLES
// ***********************************
$colorWhite: #fff;
$colorRed: #ff4233;
$colorDark: #2f3030;
$colorDark2: #353535;
$colorLight: #babdbe;
$colorBlue: #0971fe;
$colorGray: #f7f7f7;
$colorPrimary: #212529;
$colorLightBlue: #3a8dfe;
$colorDarkBlue: #0860d8;
$colorGreen: #1a931c;
$fontRoboto: "Roboto", sans-serif;
$fontSizeDefault: 14px;
