.default {
  cursor: default;
}

.pointer {
  cursor: pointer;
}

.not-allowed {
  cursor: not-allowed;
}

.move {
  cursor: move;
}

.grab {
  cursor: grab;
}

.w-20 {
  width: 20px;
}

.h-20 {
  height: 20px;
}
